*/build

*.DS_Store

*/Icon

*~.nib

*.o

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*


**/*.xcodeproj/*
!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/default.*

*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata

**/*.xcworkspace/*
!**/*.xcworkspace/contents.xcworkspacedata
